input[type="file"] {
    color: white;
}

.auto-adress-container {
    background-color: white;
    list-style: none;
    color: #1f1f1f;
}

.img-thumbnail {
    width: 45%;
    margin-right: 5%;
}

.media-body {
    color: #17a2b8;
}

.button-container {
    
    display: flex;
    justify-content: flex-end;
}