@media screen and (max-width: 1050px) {
    .app-header, .carousel, .slide, .navbar-container, .tenancy-list, .tenancy-list .media .img-thumbnail, footer, .about-container, .tenancy-list .media .carousel {
        width: 90%;
    }
    .tenancy-list .new-tenancy-card {
        width: 100%;
    }
    .carousel {
        margin-bottom: 5%;;
    }
    .w-100, .carousel-inner {
        height: 30vh;
    }
    .media .street-view-container, .media .img-thumbnail {
        height: 45vh;
        width: 90%;
        margin: 2% auto 5%;
    }
    .carousel-control-next .carousel-control-next-icon, .carousel-control-prev .carousel-control-prev-icon {
        width: 20px;
        height: 20px;
    }
    .media {
        flex-direction: column;
    }
    .media .media-body {
        margin: 0 5%;
    }
    .tenancy-list .button-container {
        justify-content: space-around;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    .navbar-container ul {
        font-size: 15px;
    }
}