body {
  margin: 0;
  font-size: 17px;
  font-family: "Interstate", sans-serif;
  background-color: #cccccc;
}

nav.navbar-container {
  margin: 5px auto;
}

.navbar-container ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navbar-container a {
  text-decoration: none;
  color: #17a2b8;
  margin-left: 10%;
  text-transform: uppercase;
  font-weight: bold;
}

.app-header, .carousel, .slide, .navbar-container, .tenancy-list, .add-tenancy-form, footer, .about-container {
  text-align: center;
  width: 60%;
  background-color: #1f1f1f;
  margin: 1% auto;
  padding: 2%;
  border-radius: 5px;
  border: 2px solid #1f1f1f;
  box-shadow: 0 0 10px 0 #333333;
}

